
#gameboard {
    width: 320px;
    height: 320px;
   display: flex;
   flex-wrap: wrap;
}


.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.square {
    
    height: 40px;
    width: 40px;
    position: relative;
    
}
.red{
    background-color: rgb(233, 49, 49); 
    
}

.blue{
    background-color: rgb(178, 0, 80);
}

.black
{
    fill: rgb(0, 0, 0);

}

.white{
    fill:antiquewhite;
}