
#gameboard {
    width: 320px;
    height: 320px;
   display: flex;
   flex-wrap: wrap;
}


.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.square {
    
    height: 40px;
    width: 40px;
    position: relative;
    
}
.red{
    background-color: rgb(233, 49, 49); 
    
}

.blue{
    background-color: rgb(178, 0, 80);
}

.black
{
    fill: rgb(0, 0, 0);

}

.white{
    fill:antiquewhite;
}
.square.valid-move::before {
    content: "\2022"; /* Usando um bullet point como bolinha */
    font-size: 20px; /* Tamanho da bolinha */
    color: #00ff00; /* Cor da bolinha */
    position: absolute;
    top: 50%; /* Posição vertical */
    left: 50%; /* Posição horizontal */
    transform: translate(-50%, -50%); /* Centralizar a bolinha na casa */
}
